<template>
    <b-container>
        <b-row class="full-heigth" align-v="center" align-content="center">
            <b-col md="6" offset-md="3">
                <b-card header="Просмотр клиента">
                    <b-card-text>
                        <b-form @submit.prevent="save">
                            <b-form-group label="Email:" label-for="email">
                                <b-form-input
                                        v-model="form.email"
                                        type="text"
                                        required
                                        placeholder="Введите email"
                                        class="form-control-plaintext"
                                        readonly
                                />
                            </b-form-group>
                            <b-form-group label="Имя:" label-for="name">
                                <b-form-input
                                        v-model="form.name"
                                        type="text"
                                        required
                                        placeholder="Введите имя"
                                        class="form-control-plaintext"
                                        readonly
                                />
                            </b-form-group>
                            <b-form-group label="Фамилия:" label-for="surname">
                                <b-form-input
                                        v-model="form.surname"
                                        type="text"
                                        required
                                        placeholder="Введите фамилия"
                                        class="form-control-plaintext"
                                        readonly
                                />
                            </b-form-group>
                            <b-form-group label="Отчество:" label-for="patronymic">
                                <b-form-input
                                        v-model="form.patronymic"
                                        type="text"
                                        required
                                        placeholder="Введите отчество"
                                        class="form-control-plaintext"
                                        readonly
                                />
                            </b-form-group>
                            <b-form-group label="Номер телефон:" label-for="phone">
                                <b-form-input
                                        v-model="form.phone"
                                        type="text"
                                        required
                                        placeholder="Введите номер телефона"
                                        class="form-control-plaintext"
                                        readonly
                                />
                            </b-form-group>
                        </b-form>
                    </b-card-text>
                </b-card>
                <div class="actions">
                    <router-link :to="{ name: 'ClientsEdit',
                        params: { id: this.$route.params.id }}">
                        Редактировать клиента
                    </router-link>
                </div>
            </b-col>
        </b-row>
    </b-container>

</template>

<script>
export default {
  name: 'ClientsShow',
  data() {
    return {
      form: '',
    };
  },
  async mounted() {
    const { data } = await this.$services.clients.get(this.$route.params.id);
    this.form = data;
  },
};
</script>

<style scoped>
    .actions a {
        display: block;
        text-decoration: underline;
        margin: 20px 10px;
    }
</style>
