<template>
    <b-container>
        <b-row class="full-heigth" align-v="center" align-content="center">
            <b-col md="6" offset-md="3">
                <span v-if="error" class="alert alert-danger">
                {{ error }}</span>
                <b-card header="Редактировать клиента">
                    <b-card-text>
                        <b-form @submit.prevent="save">
                            <b-form-group label="Email:" label-for="email">
                                <b-form-input
                                        v-model="form.email"
                                        type="text"
                                        required
                                        placeholder="Введите email"
                                        class="form-control-plaintext"
                                        readonly
                                />
                                <span v-if="allerrors.email" class="alert alert-danger">
              {{ allerrors.email[0] }}</span>
                            </b-form-group>
                            <b-form-group label="Имя:" label-for="name">
                                <b-form-input
                                        v-model="form.name"
                                        type="text"
                                        required
                                        placeholder="Введите имя"
                                />
                                <span v-if="allerrors.name" class="alert alert-danger">
              {{ allerrors.name[0] }}</span>
                            </b-form-group>
                            <b-form-group label="Фамилия:" label-for="surname">
                                <b-form-input
                                        v-model="form.surname"
                                        type="text"
                                        required
                                        placeholder="Введите фамилия"
                                />
                                <span v-if="allerrors.surname" class="alert alert-danger">
              {{ allerrors.surname[0] }}</span>
                            </b-form-group>
                            <b-form-group label="Отчество:" label-for="patronymic">
                                <b-form-input
                                        v-model="form.patronymic"
                                        type="text"
                                        required
                                        placeholder="Введите отчество"
                                />
                                <span v-if="allerrors.patronymic" class="alert alert-danger">
              {{ allerrors.patronymic[0] }}</span>
                            </b-form-group>
                            <b-form-group label="Номер телефон:" label-for="phone">
                                <b-form-input
                                        v-model="form.phone"
                                        type="text"
                                        required
                                        placeholder="Введите номер телефона"
                                        class="form-control-plaintext"
                                        readonly
                                />
                                <span v-if="allerrors.phone" class="alert alert-danger">
              {{ allerrors.phone[0] }}</span>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Сохранить</b-button>
                        </b-form>
                    </b-card-text>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
  name: 'ClientsEdit',
  data() {
    return {
      form: {},
      error: '',
      allerrors: {},
    };
  },
  async mounted() {
    const { data } = await this.$services.clients.edit(this.$route.params.id);
    this.form = data;
  },
  methods: {
    save() {
      this.$services.clients.update(this.$route.params.id, this.form).then(() => {
        this.$router.push(`/clients/${this.$route.params.id}`);
      }).catch((e) => {
        this.error = e.response.data.error;
        this.allerrors = e.response.data.message ?? '';
      });
    },
  },
};
</script>
