<template>
    <div class="mt-3 container-fluid">
        <h1>Клиенты</h1>
        <table id="clients" class="ui celled compact table">
            <thead>
            <tr>
                <th>  <i class="info"></i>ID</th>
                <th>  <i class="info"></i>Имя</th>
                <th> <i class="info"></i>Фамилия</th>
                <th> <i class="info"></i>Отчество</th>
                <th> <i class="info"></i>Номер телефон</th>
                <th> <i class="info"></i>Email</th>
                <th> <i class="lock open icon"></i></th>
                <th> <i class="edit icon"></i></th>
                <th> <i class="trash icon"></i></th>
            </tr>
            </thead>
            <tr v-for="(client, i) in clients" :key="i">
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.patronymic }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td width="75" class="center aligned">
                    <router-link :to="{ name: 'ClientsShow', params: { id: client.id }}">
                        Показать</router-link>
                </td>
                <td width="75" class="center aligned">
                    <router-link :to="{ name: 'ClientsEdit', params: { id: client.id }}">
                        Редактировать</router-link>
                </td>
                <td width="75" class="center aligned" @click.prevent="onDestroy(client.id)">
                    <a :href="`/clients/${client.id}`">Удалить</a>
                </td>
            </tr>
        </table>
    </div>
</template>
<script>
export default {
  name: 'clients',
  data() {
    return {
      clients: [],
    };
  },
  methods: {
    async onDestroy(id) {
      const sure = window.confirm('Are you sure?');
      if (!sure) return;
      await this.$services.clients.delete(id).then(() => {
        const newClients = this.clients.filter((client) => client.id !== id);
        this.clients = newClients;
      });
    },
  },
  async mounted() {
    const { data } = await this.$services.clients.list();
    this.clients = data;
  },
};
</script>
