<template>
  <div>
    <b-navbar type="light" variant="light">
      <b-container>
        <b-navbar-nav>
          <b-nav-item :active="isNavActive('ClientsList')" :to="{ name: 'ClientsList' }">
            Клиенты
          </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav>
          <b-nav-item :active="isNavActive('ClientsCreate')" :to="{ name: 'ClientsCreate' }">
            Добавить Клиент
          </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item right @click.prevent="logout">Выйти</b-nav-item>
        </b-navbar-nav>
      </b-container>
    </b-navbar>

    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'MainLayout',
  methods: {
    isNavActive(name) {
      return name === this.$route.name;
    },
    logout() {
      this.$auth.logout({
        redirect: '/login',
      });
    },
  },
};
</script>
