<template>
  <div id="app">
    <main-layout v-if="$auth.ready() && $auth.check()">
      <router-view />
    </main-layout>
    <router-view v-else />
  </div>
</template>

<script>
import MainLayout from './layouts/main.vue';

export default {
  name: 'App',
  components: {
    MainLayout,
  },
};
</script>

<style lang="scss">
#app {
  min-height: 100vh;
}
.full-heigth {
  min-height: 100vh;
}
</style>
