<template>
  <b-container>
    <b-row class="full-heigth" align-v="center" align-content="center">
      <b-col md="6" offset-md="3">
        <span v-if="error" class="alert alert-danger">
                  {{ error }}</span>
        <b-card header="Вход">
          <b-card-text>
            <b-form @submit.prevent="login">
              <b-form-group label="Email:" label-for="email">
                <b-form-input
                  v-model="form.email"
                  type="text"
                  required
                  placeholder="Введите email"
                />
                <span v-if="allerrors.email" class="alert alert-danger">
                  {{ allerrors.email[0] }}</span>
              </b-form-group>
              <b-form-group label="Пароль:" label-for="password">
                <b-form-input
                  v-model="form.password"
                  type="password"
                  required
                  placeholder="Введите пароль"
                />
                <span v-if="allerrors.password" class="alert alert-danger">
                  {{ allerrors.password[0] }}</span>
              </b-form-group>
              <b-button type="submit" variant="primary">Войти</b-button>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      form: {
        password: '',
        email: '',
      },
      allerrors: [],
      error: '',
    };
  },
  methods: {
    login() {
      this.$auth.login({
        params: this.form,
        redirect: '/clients',
      }).catch((e) => {
        this.error = e.response.data.error;
        this.allerrors = e.response.data.message ?? '';
      });
    },
  },
};
</script>
